In [1]:
import OpenDartReader
import pandas as pd
import json

with open('./dart_api_key.txt', 'r') as f :
    api_key = f.readline()
dart = OpenDartReader(api_key)

with open('./ODR_type.json', 'r', encoding = 'utf-8') as f:
    item = json.load(f)
    report_list = item["사업보고서 형식"]
    event_list = item["주요사항보고서 형식"]
    reg_list = item["증권신고서 형식"]

In [2]:
public_list = dart.list('삼성전자') # 회사명으로 상장이후 모든 공시 목록 가져오기
# dart.list('005930') <- 종목코드로도 접근 가능
print(type(public_list))
public_list.head()

<class 'pandas.core.frame.DataFrame'>

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
0,00126380,삼성전자,005930,Y,임원ㆍ주요주주특정증권등소유상황보고서,20240327001155,이병일,20240327,
1,00126380,삼성전자,005930,Y,임원ㆍ주요주주특정증권등소유상황보고서,20240327000248,유병길,20240327,
2,00126380,삼성전자,005930,Y,임원ㆍ주요주주특정증권등소유상황보고서,20240326000289,유병길,20240326,
3,00126380,삼성전자,005930,Y,임원ㆍ주요주주특정증권등소유상황보고서,20240326000279,유병길,20240326,
4,00126380,삼성전자,005930,Y,임원ㆍ주요주주특정증권등소유상황보고서,20240325000223,이창수,20240325,

In [3]:
corp = dart.company('005930') #공시정보 - 기업 개황
print(type(corp))
print(corp)
xml_text = dart.document('20240327001155')
print(type(xml_text))
print(xml_text)

<class 'dict'>
{'status': '000', 'message': '정상', 'corp_code': '00126380', 'corp_name': '삼성전자(주)', 'corp_name_eng': 'SAMSUNG ELECTRONICS CO,.LTD', 'stock_name': '삼성전자', 'stock_code': '005930', 'ceo_nm': '한종희, 경계현', 'corp_cls': 'Y', 'jurir_no': '1301110006246', 'bizr_no': '1248100998', 'adres': '경기도 수원시 영통구  삼성로 129 (매탄동)', 'hm_url': 'www.samsung.com/sec', 'ir_url': '', 'phn_no': '02-2255-0114', 'fax_no': '031-200-7538', 'induty_code': '264', 'est_dt': '19690113', 'acc_mt': '12'}
<class 'str'>
<?xml version="1.0" encoding="utf-8"?>


<DOCUMENT xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="dart4.xsd">

<DOCUMENT-NAME ACODE="00634">임원ㆍ주요주주 특정증권등 소유상황보고서</DOCUMENT-NAME>
<FORMULA-VERSION ADATE="20231229">4.1</FORMULA-VERSION>
<COMPANY-NAME AREGCIK="00126380">삼성전자주식회사</COMPANY-NAME>

<SUMMARY>
<EXTRACTION ACODE="OUTDATE" AFEATURE="BOTH">20240325</EXTRACTION>
</SUMMARY>


<BODY ATOCID="7">

<COVER>
<P></P>
<COVER-TITLE ATOC="Y" AASSOCNOTE="COVER" ATOCID="1">임원ㆍ주요주주 특정증권등 소유상황보고서</COVER-TITLE>
<P></P>

<TABLE-GROUP ACLASS="RPT_RSP_DT" ADELETETABLE="N">

<TABLE ACLASS="EXTRACTION" AFIXTABLE="Y" WIDTH="600" BORDER="0">

<COLGROUP>
<COL WIDTH="251"></COL>
<COL WIDTH="154"></COL>
<COL WIDTH="168"></COL>
</COLGROUP>

<TBODY>

<TR ACOPY="Y" ADELETE="Y">
<TD WIDTH="260" HEIGHT="30">증권선물위원회 귀중</TD>
<TD WIDTH="163" HEIGHT="30"></TD>
<TD ALIGN="CENTER" WIDTH="177" HEIGHT="30"></TD>
</TR>

<TR ACOPY="Y" ADELETE="Y">
<TD WIDTH="260" HEIGHT="30">한국거래소 귀중</TD>
<TD WIDTH="163" HEIGHT="30"></TD>
<TD ALIGN="CENTER" WIDTH="177" HEIGHT="30"></TD>
</TR>

<TR ACOPY="Y" ADELETE="Y">
<TD ROWSPAN="2" WIDTH="260" HEIGHT="60"></TD>
<TD WIDTH="163" HEIGHT="30" AUPDATECONT="N">보고의무발생일   :</TD>
<TU ALIGN="CENTER" WIDTH="177" HEIGHT="30" AUNIT="RPT_RSP_DT" AUNITVALUE="20240325">2024년 03월 25일</TU>
</TR>

<TR ACOPY="Y" ADELETE="Y">
<TD WIDTH="163" HEIGHT="30" AUPDATECONT="N">보고서작성기준일 : </TD>
<TU ALIGN="CENTER" WIDTH="177" HEIGHT="30" AUNIT="RPT_REF_DT" AUNITVALUE="20240327">2024년 03월 27일</TU>
</TR>
</TBODY>
</TABLE>
</TABLE-GROUP>
<P></P>

<TABLE ACLASS="NORMAL" AFIXTABLE="Y" WIDTH="600" BORDER="1">

<COLGROUP>
<COL WIDTH="591"></COL>
</COLGROUP>

<TBODY>

<TR ACOPY="Y" ADELETE="Y">
<TD WIDTH="600" HEIGHT="76" AUPDATECONT="N">※ 보고자 본인은 보고서작성기준일 현재 본인의 특정증권등의 소유상황을 관련 법규 및 기재상의 주의에 따라 정확하게 작성하였고, 중요한 사항의 허위기재 또는 기재누락이 없음을 확인합니다.</TD>
</TR>
</TBODY>
</TABLE>
<P></P>

<TABLE ACLASS="NORMAL" AFIXTABLE="N" WIDTH="600" BORDER="0">

<COLGROUP>
<COL WIDTH="160"></COL>
<COL WIDTH="422"></COL>
</COLGROUP>

<TBODY>

<TR ACOPY="Y" ADELETE="Y">
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="169" HEIGHT="30">보고자 :이병일</TD>
<TD VALIGN="MIDDLE" WIDTH="431" HEIGHT="30"></TD>
</TR>
</TBODY>
</TABLE>
<P></P>
<P></P>
<PGBRK></PGBRK>
<P></P>
</COVER>

<LIBRARY>
<SECTION-1 ACLASS="MANDATORY" APARTSOURCE="SOURCE">

<SECTION-2 ACLASS="MANDATORY">
<TITLE ATOC="Y" AASSOCNOTE="D-0-1-1-0" ATOCID="2">1. 발행회사에 관한 사항</TITLE>

<TABLE-GROUP ACLASS="CRP_NM" ADELETETABLE="N">

<TABLE ACLASS="EXTRACTION" AFIXTABLE="Y" WIDTH="600" BORDER="1">

<COLGROUP>
<COL WIDTH="141"></COL>
<COL WIDTH="128"></COL>
<COL WIDTH="154"></COL>
<COL WIDTH="141"></COL>
</COLGROUP>

<TBODY>

<TR ACOPY="Y" ADELETE="Y">
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="150" HEIGHT="30" AUPDATECONT="N">회 사 명</TD>
<TE VALIGN="MIDDLE" WIDTH="450" HEIGHT="30" ACODE="CRP_NM" COLSPAN="3">삼성전자주식회사</TE>
</TR>

<TR ACOPY="Y" ADELETE="Y">
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="150" HEIGHT="30" AUPDATECONT="N">법인구분</TD>
<TU ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="137" HEIGHT="30" AUNIT="CRP_DST" AUNITVALUE="1">유가증권상장법인</TU>
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="163" HEIGHT="30" AUPDATECONT="N">회사코드 </TD>
<TE ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="150" HEIGHT="30" ACODE="CRP_CD">005930</TE>
</TR>

<TR ACOPY="Y" ADELETE="Y">
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="150" HEIGHT="30" AUPDATECONT="N">발행주식 총수</TD>
<TE ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="450" HEIGHT="30" ACODE="FLT_SUM" COLSPAN="3">6,792,669,250</TE>
</TR>
</TBODY>
</TABLE>
</TABLE-GROUP>
<P></P>
</SECTION-2>

<SECTION-2 ACLASS="MANDATORY">
<TITLE ATOC="Y" AASSOCNOTE="D-0-1-2-0" ATOCID="3">2. 보고자에 관한 사항</TITLE>

<TABLE-GROUP ACLASS="IFR_NM" ADELETETABLE="N">

<TABLE ACLASS="EXTRACTION" AFIXTABLE="Y" WIDTH="600" BORDER="1">

<COLGROUP>
<COL WIDTH="124"></COL>
<COL WIDTH="106"></COL>
<COL WIDTH="118"></COL>
<COL WIDTH="80"></COL>
<COL WIDTH="127"></COL>
</COLGROUP>

<TBODY>

<TR ACOPY="Y" ADELETE="Y">
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="133" HEIGHT="30" AUPDATECONT="N">보고구분</TD>
<TU ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="115" HEIGHT="30" AUNIT="RPT_DST" AUNITVALUE="2">변동</TU>
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="127" HEIGHT="30" AUPDATECONT="N">보고자 구분</TD>
<TU COLSPAN="2" ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="225" HEIGHT="30" AUNIT="IFR_TP" AUNITVALUE="D">개인(국내)</TU>
</TR>

<TR ACOPY="Y" ADELETE="Y">
<TD ROWSPAN="2" ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="133" HEIGHT="60" AUPDATECONT="N">성명(명칭)</TD>
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="115" HEIGHT="30" AUPDATECONT="N">한     글</TD>
<TE ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="127" HEIGHT="30" ACODE="IFR_NM">이병일</TE>
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="89" HEIGHT="30" AUPDATECONT="N">한자(영문)</TD>
<TE ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="136" HEIGHT="30" ACODE="IFR_NM_HJ">LEE BYOUNGIL</TE>
</TR>

<TR ACOPY="Y" ADELETE="Y">
<TD COLSPAN="2" ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="242" HEIGHT="30" AUPDATECONT="N">생년월일 또는 사업자등록번호 등</TD>
<TE COLSPAN="2" ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="225" HEIGHT="30" ACODE="IFR_ID2">830712</TE>
</TR>

<TR ACOPY="Y" ADELETE="Y">
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="133" HEIGHT="76" AUPDATECONT="N">주소(본점소재지)[읍ㆍ면ㆍ동까지만 기재]</TD>
<TE COLSPAN="4" VALIGN="MIDDLE" WIDTH="467" HEIGHT="76" ACODE="IFR_ADR2">경기 화성시 청계동</TE>
</TR>

<TR ACOPY="Y" ADELETE="Y">
<TD ROWSPAN="3" ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="133" HEIGHT="113" AUPDATECONT="N">발행회사와의 관계</TD>
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="115" HEIGHT="30" AUPDATECONT="N">임원(등기여부)</TD>
<TU ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="127" HEIGHT="30" AUNIT="STF_RYN" AUNITVALUE="N">비등기임원</TU>
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="89" HEIGHT="30" AUPDATECONT="N">직위명</TD>
<TE ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="136" HEIGHT="30" ACODE="STF_PSM">상무</TE>
</TR>

<TR ACOPY="Y" ADELETE="Y">
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="115" HEIGHT="53" AUPDATECONT="N">선임일</TD>
<TU ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="127" HEIGHT="53" AUNIT="STF_APT_DT" AUNITVALUE="20221206">2022년 12월 06일</TU>
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="89" HEIGHT="53" AUPDATECONT="N">퇴임일</TD>
<TU ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="136" HEIGHT="53" AUNIT="STF_RET_DT" AUNITVALUE="-">-</TU>
</TR>

<TR ACOPY="Y" ADELETE="Y">
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="115" HEIGHT="30" AUPDATECONT="N">주요주주</TD>
<TU COLSPAN="3" ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="352" HEIGHT="30" AUNIT="MAIN_SH" AUNITVALUE="4">-</TU>
</TR>

<TR ACOPY="Y" ADELETE="Y">
<TD ROWSPAN="4" ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="133" HEIGHT="143" AUPDATECONT="N">업무상 연락처및 담당자</TD>
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="115" HEIGHT="53" AUPDATECONT="N">소속회사</TD>
<TE ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="127" HEIGHT="53" ACODE="RSP_MAN_DPT">삼성전자주식회사</TE>
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="89" HEIGHT="53" AUPDATECONT="N">부      서</TD>
<TE ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="136" HEIGHT="53" ACODE="RSP_MAN_DPT2">Flash PA1팀</TE>
</TR>

<TR ACOPY="Y" ADELETE="Y">
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="115" HEIGHT="30" AUPDATECONT="N">직      위</TD>
<TE ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="127" HEIGHT="30" ACODE="RSP_MAN_PST">행정사원</TE>
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="89" HEIGHT="30" AUPDATECONT="N">전화번호</TD>
<TE ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="136" HEIGHT="30" ACODE="RSP_MAN_PHN2">070-71*******</TE>
</TR>

<TR ACOPY="Y" ADELETE="Y">
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="115" HEIGHT="30" AUPDATECONT="N">성      명</TD>
<TE ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="127" HEIGHT="30" ACODE="RSP_MAN">임선영</TE>
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="89" HEIGHT="30" AUPDATECONT="N">팩스번호</TD>
<TE ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="136" HEIGHT="30" ACODE="RSP_MAN_FAX">없음</TE>
</TR>

<TR ACOPY="Y" ADELETE="Y">
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="115" HEIGHT="30" AUPDATECONT="N">이메일 주소</TD>
<TE COLSPAN="3" ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="352" HEIGHT="30" ACODE="RSP_MAN_EML">******ng.lim@samsung.com</TE>
</TR>
</TBODY>
</TABLE>
</TABLE-GROUP>

<P></P>
</SECTION-2>

<SECTION-2 ACLASS="MANDATORY">
<TITLE ATOC="Y" ATOCID="4">3. 특정증권등의 소유상황</TITLE>

<SECTION-3 ACLASS="MANDATORY">
<TITLE ATOC="Y" AASSOCNOTE="D-0-1-3-1" ATOCID="5">가. 소유 특정증권등의 수 및 소유비율</TITLE>

<TABLE-GROUP ACLASS="BFR_PS_CNT" ADELETETABLE="N">

<TABLE ACLASS="EXTRACTION" AFIXTABLE="Y" WIDTH="590" BORDER="1">

<COLGROUP>
<COL WIDTH="81"></COL>
<COL WIDTH="118"></COL>
<COL WIDTH="117"></COL>
<COL WIDTH="61"></COL>
<COL WIDTH="102"></COL>
<COL WIDTH="57"></COL>
</COLGROUP>

<THEAD>

<TR ACOPY="Y" ADELETE="Y">
<TH ROWSPAN="2" VALIGN="MIDDLE" WIDTH="90" HEIGHT="83" ACOPYCOL="Y" ADELETECOL="Y" AMOVECOL="N" AUPDATECONT="N"></TH>
<TH ROWSPAN="2" VALIGN="MIDDLE" WIDTH="127" HEIGHT="83" ACOPYCOL="Y" ADELETECOL="Y" AMOVECOL="N" AUPDATECONT="N">보고서작성 기준일</TH>
<TH COLSPAN="2" VALIGN="MIDDLE" WIDTH="196" HEIGHT="30" ACOPYCOL="Y" ADELETECOL="Y" AMOVECOL="N" AUPDATECONT="N">특정증권등</TH>
<TH COLSPAN="2" VALIGN="MIDDLE" WIDTH="177" HEIGHT="30" ACOPYCOL="Y" ADELETECOL="Y" AMOVECOL="N" AUPDATECONT="N">주권</TH>
</TR>

<TR ACOPY="Y" ADELETE="Y">
<TH VALIGN="MIDDLE" WIDTH="126" HEIGHT="53" ACOPYCOL="Y" ADELETECOL="Y" AMOVECOL="N" AUPDATECONT="N">특정증권등의수(주)</TH>
<TH VALIGN="MIDDLE" WIDTH="70" HEIGHT="53" ACOPYCOL="Y" ADELETECOL="Y" AMOVECOL="N" AUPDATECONT="N">비율(%)</TH>
<TH VALIGN="MIDDLE" WIDTH="111" HEIGHT="53" ACOPYCOL="Y" ADELETECOL="Y" AMOVECOL="N" AUPDATECONT="N">주식수(주)</TH>
<TH VALIGN="MIDDLE" WIDTH="66" HEIGHT="53" ACOPYCOL="Y" ADELETECOL="Y" AMOVECOL="N" AUPDATECONT="N">비율(%)</TH>
</TR>
</THEAD>

<TBODY>

<TR ACOPY="Y" ADELETE="Y">
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="90" HEIGHT="53" AUPDATECONT="N">직전보고서</TD>
<TU ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="127" HEIGHT="53" AUNIT="BFR_RPT_DT" AUNITVALUE="20221212">2022년 12월 12일</TU>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="126" HEIGHT="53" ACODE="BFR_UN_CNT">148</TE>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="70" HEIGHT="53" ACODE="BFR_UN_RT">0.00</TE>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="111" HEIGHT="53" ACODE="BFR_PS_CPT_CNT">148</TE>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="66" HEIGHT="53" ACODE="BFR_PS_CPT_RT">0.00</TE>
</TR>

<TR ACOPY="Y" ADELETE="Y">
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="90" HEIGHT="53" AUPDATECONT="N">이번보고서</TD>
<TU ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="127" HEIGHT="53" AUNIT="AFR_RPT_DT" AUNITVALUE="20240327">2024년 03월 27일</TU>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="126" HEIGHT="53" ACODE="AFR_UN_CNT">1</TE>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="70" HEIGHT="53" ACODE="AFR_UN_RT">0.00</TE>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="111" HEIGHT="53" ACODE="AFR_PS_CPT_CNT">1</TE>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="66" HEIGHT="53" ACODE="AFR_PS_CPT_RT">0.00</TE>
</TR>

<TR ACOPY="Y" ADELETE="Y">
<TD COLSPAN="2" ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="217" HEIGHT="30" AUPDATECONT="N">증     감</TD>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="126" HEIGHT="30" ACODE="MDF_UN_CNT">-147</TE>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="70" HEIGHT="30" ACODE="MDF_UN_RT">0.00</TE>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="111" HEIGHT="30" ACODE="MDF_PS_CPT_CNT">-147</TE>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="66" HEIGHT="30" ACODE="MDF_PS_CPT_RT">0.00</TE>
</TR>
</TBODY>
</TABLE>
</TABLE-GROUP>
<P></P>
</SECTION-3>

<SECTION-3 ACLASS="MANDATORY">
<TITLE ATOC="Y" AASSOCNOTE="D-0-1-3-2" ATOCID="6">나. 특정증권등의 종류별 소유내역</TITLE>

<TABLE-GROUP ACLASS="CST_CNT1" ADELETETABLE="N">

<TABLE ACLASS="EXTRACTION" AFIXTABLE="N" WIDTH="714" BORDER="1">

<COLGROUP>
<COL WIDTH="124"></COL>
<COL WIDTH="66"></COL>
<COL WIDTH="51"></COL>
<COL WIDTH="65"></COL>
<COL WIDTH="77"></COL>
<COL WIDTH="51"></COL>
<COL WIDTH="43"></COL>
<COL WIDTH="35"></COL>
<COL WIDTH="56"></COL>
<COL WIDTH="56"></COL>
</COLGROUP>

<THEAD>

<TR ACOPY="N" ADELETE="N">
<TH COLSPAN="10" VALIGN="MIDDLE" WIDTH="714" HEIGHT="30" ACOPYCOL="N" ADELETECOL="N" AMOVECOL="N" AUPDATECONT="N">특정증권등의 내역</TH>
</TR>

<TR ACOPY="N" ADELETE="N">
<TH VALIGN="MIDDLE" WIDTH="133" HEIGHT="83" ACOPYCOL="N" ADELETECOL="N" AMOVECOL="N" AUPDATECONT="N" ROWSPAN="2">주 권</TH>
<TH ROWSPAN="2" VALIGN="MIDDLE" WIDTH="75" HEIGHT="83" ACOPYCOL="N" ADELETECOL="N" AMOVECOL="N" AUPDATECONT="N">신주인수권이표시된것</TH>
<TH ROWSPAN="2" VALIGN="MIDDLE" WIDTH="60" HEIGHT="83" ACOPYCOL="N" ADELETECOL="N" AMOVECOL="N" AUPDATECONT="N">전환사채권</TH>
<TH ROWSPAN="2" VALIGN="MIDDLE" WIDTH="74" HEIGHT="83" ACOPYCOL="N" ADELETECOL="N" AMOVECOL="N" AUPDATECONT="N">신주인수권부사채권</TH>
<TH ROWSPAN="2" VALIGN="MIDDLE" WIDTH="86" HEIGHT="83" ACOPYCOL="N" ADELETECOL="N" AMOVECOL="N" AUPDATECONT="N">이익참가부사채권</TH>
<TH ROWSPAN="2" VALIGN="MIDDLE" WIDTH="60" HEIGHT="83" ACOPYCOL="N" ADELETECOL="N" AMOVECOL="N" AUPDATECONT="N">교환사채권</TH>
<TH ROWSPAN="2" VALIGN="MIDDLE" WIDTH="52" HEIGHT="83" ACOPYCOL="N" ADELETECOL="N" AMOVECOL="N" AUPDATECONT="N">증권예탁증권</TH>
<TH ROWSPAN="2" VALIGN="MIDDLE" WIDTH="44" HEIGHT="83" ACOPYCOL="N" ADELETECOL="N" AMOVECOL="N" AUPDATECONT="N">기타</TH>
<TH COLSPAN="2" VALIGN="MIDDLE" WIDTH="130" HEIGHT="30" ACOPYCOL="N" ADELETECOL="N" AMOVECOL="N" AUPDATECONT="N">합 계</TH>
</TR>

<TR ACOPY="N" ADELETE="N">
<TH VALIGN="MIDDLE" WIDTH="65" HEIGHT="53" ACOPYCOL="N" ADELETECOL="N" AMOVECOL="N" AUPDATECONT="N">주수(주)</TH>
<TH VALIGN="MIDDLE" WIDTH="65" HEIGHT="53" ACOPYCOL="N" ADELETECOL="N" AMOVECOL="N" AUPDATECONT="N">비율(%)</TH>
</TR>
</THEAD>

<TBODY>

<TR ACOPY="N" ADELETE="N">
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="133" HEIGHT="30" ACODE="CPT_CNT">1</TE>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="75" HEIGHT="30" ACODE="ACC_CNT">-</TE>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="60" HEIGHT="30" ACODE="CB_CNT">-</TE>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="74" HEIGHT="30" ACODE="LN_CNT">-</TE>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="86" HEIGHT="30" ACODE="BN_CNT">-</TE>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="60" HEIGHT="30" ACODE="EB_CNT">-</TE>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="52" HEIGHT="30" ACODE="CF_CNT">-</TE>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="44" HEIGHT="30" ACODE="ET_CNT">-</TE>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="65" HEIGHT="30" ACODE="STK_CNT">1</TE>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="65" HEIGHT="30" ACODE="STK_RT">0.00</TE>
</TR>

<TR ACOPY="N" ADELETE="N">
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="133" HEIGHT="60" AUPDATECONT="N" ROWSPAN="2">A</TD>
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="75" HEIGHT="30" AUPDATECONT="N">B</TD>
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="60" HEIGHT="30" AUPDATECONT="N">C</TD>
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="74" HEIGHT="30" AUPDATECONT="N">D</TD>
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="86" HEIGHT="30" AUPDATECONT="N">E</TD>
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="60" HEIGHT="30" AUPDATECONT="N">F</TD>
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="52" HEIGHT="30" AUPDATECONT="N">G</TD>
<TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="44" HEIGHT="30" AUPDATECONT="N">H</TD>
<TD ROWSPAN="2" ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="65" HEIGHT="60" AUPDATECONT="N"></TD>
<TD ROWSPAN="2" ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="65" HEIGHT="60" AUPDATECONT="N"></TD>
</TR>

<TR ACOPY="N" ADELETE="N">
<TD COLSPAN="7" ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="451" HEIGHT="30" AUPDATECONT="N">I</TD>
</TR>
</TBODY>
</TABLE>
</TABLE-GROUP>
<P></P>

<TABLE-GROUP ACLASS="HLD_RT" ADELETETABLE="N">

<TABLE ACLASS="EXTRACTION" AFIXTABLE="Y" WIDTH="600" BORDER="1">

<COLGROUP>
<COL WIDTH="109"></COL>
<COL WIDTH="160"></COL>
<COL WIDTH="156"></COL>
<COL WIDTH="139"></COL>
</COLGROUP>

<THEAD>

<TR ACOPY="Y" ADELETE="Y">
<TH ROWSPAN="2" VALIGN="MIDDLE" WIDTH="118" HEIGHT="106" ACOPYCOL="Y" ADELETECOL="Y" AMOVECOL="N" AUPDATECONT="N">발행주식 총수(J)</TH>
<TH ROWSPAN="2" VALIGN="MIDDLE" WIDTH="169" HEIGHT="106" ACOPYCOL="Y" ADELETECOL="Y" AMOVECOL="N" AUPDATECONT="N">주식외 특정증권등의 수(B+C+D+E+F+G+H=I)</TH>
<TH COLSPAN="2" VALIGN="MIDDLE" WIDTH="313" HEIGHT="30" ACOPYCOL="Y" ADELETECOL="Y" AMOVECOL="N" AUPDATECONT="N">소유비율(%)</TH>
</TR>

<TR ACOPY="Y" ADELETE="Y">
<TH VALIGN="MIDDLE" WIDTH="165" HEIGHT="76" ACOPYCOL="Y" ADELETECOL="Y" AMOVECOL="N" AUPDATECONT="N">특정증권등의 소유비율[A+I / J+I-(F+G+H)※] × 100</TH>
<TH VALIGN="MIDDLE" WIDTH="148" HEIGHT="76" ACOPYCOL="Y" ADELETECOL="Y" AMOVECOL="N" AUPDATECONT="N">주권의 소유비율(A / J) × 100</TH>
</TR>
</THEAD>

<TBODY>

<TR ACOPY="Y" ADELETE="Y">
<TE ALIGN="RIGHT" WIDTH="118" HEIGHT="30" ACODE="VOT_STK_CNT">6,792,669,250</TE>
<TE ALIGN="RIGHT" WIDTH="169" HEIGHT="30" ACODE="HLD_STK_CNT">0</TE>
<TE ALIGN="RIGHT" WIDTH="165" HEIGHT="30" ACODE="HLD_STK_RT">0.00</TE>
<TE ALIGN="RIGHT" WIDTH="148" HEIGHT="30" ACODE="HLD_CMT_RT">0.00</TE>
</TR>
</TBODY>
</TABLE>
</TABLE-GROUP>
<P>※ 교환대상이 주식인 교환사채권 및 기초자산이 주식인 증권예탁증권, 파생결합증권 등에 한하여 분모에서 제외하고 소유비율을 산정</P>
</SECTION-3>

<SECTION-3 ACLASS="MANDATORY">
<TITLE ATOC="Y" AASSOCNOTE="D-0-1-3-3" ATOCID="7">다. 세부변동내역</TITLE>

<TABLE-GROUP ACLASS="RPT_RSN" ADELETETABLE="N">

<TABLE ACLASS="EXTRACTION" AFIXTABLE="N" WIDTH="710" BORDER="1">

<COLGROUP>
<COL WIDTH="66"></COL>
<COL WIDTH="103"></COL>
<COL WIDTH="106"></COL>
<COL WIDTH="65"></COL>
<COL WIDTH="64"></COL>
<COL WIDTH="64"></COL>
<COL WIDTH="112"></COL>
<COL WIDTH="58"></COL>
</COLGROUP>

<THEAD>

<TR ACOPY="N" ADELETE="N">
<TH ROWSPAN="2" VALIGN="MIDDLE" WIDTH="75" HEIGHT="60" ACOPYCOL="N" ADELETECOL="N" AMOVECOL="N" AUPDATECONT="N">보고사유</TH>
<TH ROWSPAN="2" VALIGN="MIDDLE" WIDTH="112" HEIGHT="60" ACOPYCOL="N" ADELETECOL="N" AMOVECOL="N" AUPDATECONT="N">변동일*</TH>
<TH ROWSPAN="2" VALIGN="MIDDLE" WIDTH="115" HEIGHT="60" ACOPYCOL="N" ADELETECOL="N" AMOVECOL="N" AUPDATECONT="N">특정증권등의종류</TH>
<TH COLSPAN="3" VALIGN="MIDDLE" WIDTH="220" HEIGHT="30" ACOPYCOL="N" ADELETECOL="N" AMOVECOL="N" AUPDATECONT="N">소 유 주 식 수 (주)</TH>
<TH ROWSPAN="2" VALIGN="MIDDLE" WIDTH="121" HEIGHT="60" ACOPYCOL="N" ADELETECOL="N" AMOVECOL="N" AUPDATECONT="N">취득/처분단가(원)**</TH>
<TH ROWSPAN="2" VALIGN="MIDDLE" WIDTH="67" HEIGHT="60" ACOPYCOL="N" ADELETECOL="N" AMOVECOL="N" AUPDATECONT="N">비 고</TH>
</TR>

<TR ACOPY="N" ADELETE="N">
<TH VALIGN="MIDDLE" WIDTH="74" HEIGHT="30" ACOPYCOL="N" ADELETECOL="N" AMOVECOL="N" AUPDATECONT="N">변동전</TH>
<TH VALIGN="MIDDLE" WIDTH="73" HEIGHT="30" ACOPYCOL="N" ADELETECOL="N" AMOVECOL="N" AUPDATECONT="N">증감</TH>
<TH VALIGN="MIDDLE" WIDTH="73" HEIGHT="30" ACOPYCOL="N" ADELETECOL="N" AMOVECOL="N" AUPDATECONT="N">변동후</TH>
</TR>
</THEAD>

<TBODY>

<TR ACOPY="Y" ADELETE="N">
<TU ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="75" HEIGHT="53" AUNIT="RPT_RSN" AUNITVALUE="02">장내매도(-)</TU>
<TU ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="112" HEIGHT="53" AUNIT="MDF_DM" AUNITVALUE="20240325">2024년 03월 25일</TU>
<TU ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="115" HEIGHT="53" AUNIT="STR_KND" AUNITVALUE="1">보통주</TU>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="74" HEIGHT="53" ACODE="BFR_STK_CNT">148</TE>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="73" HEIGHT="53" ACODE="MDF_STK_CNT">-147</TE>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="73" HEIGHT="53" ACODE="AFR_STK_CNT">1</TE>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="121" HEIGHT="53" ACODE="ACI_AMT2">78,100</TE>
<TE ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="67" HEIGHT="53" ACODE="RMK">-</TE>
</TR>

<TR ACOPY="N" ADELETE="N">
<TD COLSPAN="3" ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="302" HEIGHT="30" AUPDATECONT="N">합  계</TD>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="74" HEIGHT="30" ACODE="BFR_STK_SUM">148</TE>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="73" HEIGHT="30" ACODE="MDF_STK_SUM">-147</TE>
<TE ALIGN="RIGHT" VALIGN="MIDDLE" WIDTH="73" HEIGHT="30" ACODE="AFR_STK_SUM">1</TE>

In [4]:
#사업보고서
#pd.to_csv("file_name") <- pandas dataframe을 csv파일로 저장 가능
n = 1
for r in report_list :
    if n % 6 == 0 : print()
    print(r, end = "   ")
    n += 1

print()
print()

Report = dart.report('005930', '배당', 2022)
print(type(Report))
Report.head()

조건부자본증권미상환   미등기임원보수   회사채미상환   단기사채미상환   기업어음미상환
채무증권발행   사모자금사용   공모자금사용   임원전체보수승인   임원전체보수유형   주식총수
회계감사   감사용역   회계감사용역계약   사외이사   신종자본증권미상환   증자
배당   자기주식   최대주주   최대주주변동   소액주주   임원
직원   임원개인보수   임원전체보수   개인별보수   타법인출자   <class 'pandas.core.frame.DataFrame'>

,rcept_no,corp_cls,corp_code,corp_name,se,thstrm,frmtrm,lwfr,stock_knd
0,20230307000542,Y,00126380,삼성전자,주당액면가액(원),100,100,100,NaN
1,20230307000542,Y,00126380,삼성전자,(연결)당기순이익(백만원),"54,730,018","39,243,791","26,090,846",NaN
2,20230307000542,Y,00126380,삼성전자,(별도)당기순이익(백만원),"25,418,778","30,970,954","15,615,018",NaN
3,20230307000542,Y,00126380,삼성전자,(연결)주당순이익(원),"8,057","5,777","3,841",NaN
4,20230307000542,Y,00126380,삼성전자,현금배당금총액(백만원),"9,809,438","9,809,438","20,338,075",NaN

In [5]:
#상장기업 재무정보
finance = dart.finstate('삼성전자', 2022)
print(type(finance))
finance.head()

# 재무제표 XBRL 원본 파일 저장 (삼성전자 2022 사업보고서)
# dart.finstate_xml('20230307000542', save_as='삼성전자_2022_사업보고서_XBRL.zip')

<class 'pandas.core.frame.DataFrame'>

,rcept_no,reprt_code,bsns_year,corp_code,stock_code,fs_div,fs_nm,sj_div,sj_nm,account_nm,...,thstrm_dt,thstrm_amount,frmtrm_nm,frmtrm_dt,frmtrm_amount,bfefrmtrm_nm,bfefrmtrm_dt,bfefrmtrm_amount,ord,currency
0,20230307000542,11011,2022,00126380,005930,CFS,연결재무제표,BS,재무상태표,유동자산,...,2022.12.31 현재,"218,470,581,000,000",제 53 기,2021.12.31 현재,"218,163,185,000,000",제 52 기,2020.12.31 현재,"198,215,579,000,000",1,KRW
1,20230307000542,11011,2022,00126380,005930,CFS,연결재무제표,BS,재무상태표,비유동자산,...,2022.12.31 현재,"229,953,926,000,000",제 53 기,2021.12.31 현재,"208,457,973,000,000",제 52 기,2020.12.31 현재,"180,020,139,000,000",3,KRW
2,20230307000542,11011,2022,00126380,005930,CFS,연결재무제표,BS,재무상태표,자산총계,...,2022.12.31 현재,"448,424,507,000,000",제 53 기,2021.12.31 현재,"426,621,158,000,000",제 52 기,2020.12.31 현재,"378,235,718,000,000",5,KRW
3,20230307000542,11011,2022,00126380,005930,CFS,연결재무제표,BS,재무상태표,유동부채,...,2022.12.31 현재,"78,344,852,000,000",제 53 기,2021.12.31 현재,"88,117,133,000,000",제 52 기,2020.12.31 현재,"75,604,351,000,000",7,KRW
4,20230307000542,11011,2022,00126380,005930,CFS,연결재무제표,BS,재무상태표,비유동부채,...,2022.12.31 현재,"15,330,051,000,000",제 53 기,2021.12.31 현재,"33,604,094,000,000",제 52 기,2020.12.31 현재,"26,683,351,000,000",9,KRW

In [6]:
# 지분공시
# 대량보유 상황보고
share = dart.major_shareholders('005930')
print(type(share))
print("-------------------대량보유 상황보고-------------------")
print(share)
print()
print()

# 임원ㆍ주요주주 소유보고
major_share = dart.major_shareholders('005930')
print(type(major_share))
print("-------------------임원ㆍ주요주주 소유보고-------------------")
major_share.head()

<class 'pandas.core.frame.DataFrame'>
-------------------대량보유 상황보고-------------------
          rcept_no    rcept_dt corp_code corp_name report_tp  \
0   20220411003043  2022-04-11  00126380      삼성전자        약식
1   20220422000748  2022-04-22  00126380      삼성전자        일반
2   20220429001445  2022-04-29  00126380      삼성전자        일반
3   20220506000547  2022-05-06  00126380      삼성전자        일반
4   20220708000631  2022-07-08  00126380      삼성전자        일반
5   20220722000492  2022-07-22  00126380      삼성전자        일반
6   20220826000674  2022-08-26  00126380      삼성전자        일반
7   20220902000220  2022-09-02  00126380      삼성전자        약식
8   20220916000466  2022-09-16  00126380      삼성전자        일반
9   20221021000405  2022-10-21  00126380      삼성전자        일반
10  20230120000563  2023-01-20  00126380      삼성전자        일반
11  20230203000495  2023-02-03  00126380      삼성전자        일반
12  20230217001683  2023-02-17  00126380      삼성전자        일반
13  20230421000685  2023-04-21  00126380      삼성전자        일반
14  20230428001621  2023-04-28  00126380      삼성전자        일반
15  20230504000774  2023-05-04  00126380      삼성전자        일반
16  20230512001323  2023-05-12  00126380      삼성전자        일반
17  20230519000524  2023-05-19  00126380      삼성전자        일반
18  20230721000556  2023-07-21  00126380      삼성전자        일반
19  20230728000726  2023-07-28  00126380      삼성전자        일반
20  20230818000461  2023-08-18  00126380      삼성전자        일반
21  20230908000465  2023-09-08  00126380      삼성전자        일반
22  20231020000553  2023-10-20  00126380      삼성전자        일반
23  20231027000502  2023-10-27  00126380      삼성전자        일반
24  20231103000394  2023-11-03  00126380      삼성전자        일반
25  20231117000321  2023-11-17  00126380      삼성전자        일반
26  20240115000346  2024-01-15  00126380      삼성전자        일반
27  20240119000573  2024-01-19  00126380      삼성전자        일반
28  20240126000600  2024-01-26  00126380      삼성전자        일반
29  20240216001437  2024-02-16  00126380      삼성전자        일반
30  20240322001050  2024-03-22  00126380      삼성전자        일반

                     repror          stkqy   stkqy_irds  stkrt stkrt_irds  \
0   J.P.MORGANSECURITIESPLC     14,858,917   14,858,917   0.22       0.22
1                      삼성물산  1,241,208,947     -102,516  20.79      -0.00
2                      삼성물산  1,241,202,321       -6,626  20.79      -0.00
3                      삼성물산  1,241,174,813      -27,508  20.79      -0.00
4                      삼성물산  1,241,131,025      -43,788  20.79      -0.00
5                      삼성물산  1,241,273,657      142,632  20.79       0.00
6                      삼성물산  1,241,213,913      -59,744  20.79      -0.00
7                    국민연금공단    458,637,667  -59,871,911   7.68      -1.01
8                      삼성물산  1,241,176,035      -37,878  20.79      -0.00
9                      삼성물산  1,238,767,819   -2,408,216  20.75      -0.04
10                     삼성물산  1,237,964,708     -803,111  20.74      -0.01
11                     삼성물산  1,237,908,256      -56,452  20.74      -0.00
12                     삼성물산  1,237,907,158       -1,098  20.74      -0.00
13                     삼성물산  1,237,590,814     -316,344  20.73      -0.01
14                     삼성물산  1,237,595,226        4,412  20.73       0.00
15                     삼성물산  1,237,666,781       71,555  20.73       0.00
16                     삼성물산  1,237,663,877       -2,904  20.73      -0.00
17                     삼성물산  1,237,664,907        1,030  20.73       0.00
18                     삼성물산  1,237,123,070     -541,837  20.72      -0.01
19                     삼성물산  1,236,915,000     -208,070  20.72      -0.00
20                     삼성물산  1,236,841,729      -73,271  20.72      -0.00
21                     삼성물산  1,236,691,824     -149,905  20.72      -0.00
22                     삼성물산  1,236,346,038     -345,786  20.71      -0.01
23                     삼성물산  1,236,232,754     -113,284  20.71      -0.00
24                     삼성물산  1,236,195,301      -37,453  20.71      -0.00
25                     삼성물산  1,236,157,473      -37,828  20.71      -0.00
26                     삼성물산  1,205,765,181  -30,392,292  20.20      -0.51
27                     삼성물산  1,205,805,585       40,404  20.20       0.00
28                     삼성물산  1,205,808,662        3,077  20.20       0.00
29                     삼성물산  1,205,523,727     -284,935  20.19      -0.01
30                     삼성물산  1,205,229,946     -293,781  20.19       0.00

      ctr_stkqy ctr_stkrt                               report_resn
0             -         -                                 신규보고의무 발생
1    99,832,587      1.67            - 보유주식수 변동\n- 보유주식등에 관한 계약의 변경
2    89,478,587      1.50            - 보유주식수 변동\n- 보유주식등에 관한 계약의 변경
3    98,413,587      1.65            - 보유주식수 변동\n- 보유주식등에 관한 계약의 변경
4    98,682,587      1.65  - 특별관계자 및 보유주식수 변동\n- 보유주식등에 관한 계약 관련 변경
5    98,282,587      1.65            - 보유주식수 변동\n- 보유주식등에 관한 계약의 변경
6   101,535,587      1.70            - 보유주식수 변동\n- 보유주식등에 관한 계약의 변경
7             -         -                                 단순추가취득/처분
8   102,026,587      1.71          - 보유주식수 변동\n- 보유주식등에 관한 계약 관련 변경
9   103,716,587      1.74            - 보유주식수 변동\n- 보유주식등에 관한 계약의 변경
10  103,716,587      1.74            - 보유주식수 변동\n- 보유주식등에 관한 계약의 변경
11  108,897,005      1.82            - 보유주식수 변동\n- 보유주식등에 관한 계약의 변경
12  108,897,005      1.82            - 보유주식수 변동\n- 보유주식등에 관한 계약의 변경
13  121,175,005      2.03         - 보유주식수 변동\n- 보유주식등에 관한 계약의 체결ㆍ변경
14  121,175,005      2.03            - 보유주식수 변동\n- 보유주식등에 관한 계약의 변경
15  165,335,044      2.77         - 보유주식수 변동\n- 보유주식등에 관한 계약의 체결ㆍ변경
16  159,479,145      2.67            - 보유주식수 변동\n- 보유주식등에 관한 계약의 변경
17  159,479,145      2.67            - 보유주식수 변동\n- 보유주식등에 관한 계약의 변경
18  159,479,145      2.67            - 보유주식수 변동\n- 보유주식등에 관한 계약의 변경
19  159,479,145      2.67            - 보유주식수 변동\n- 보유주식등에 관한 계약의 변경
20  159,479,145      2.67            - 보유주식수 변동\n- 보유주식등에 관한 계약의 변경
21  159,221,145      2.67            - 보유주식수 변동\n- 보유주식등에 관한 계약의 변경
22  159,221,145      2.67            - 보유주식수 변동\n- 보유주식등에 관한 계약의 변경
23  159,221,145      2.67            - 보유주식수 변동\n- 보유주식등에 관한 계약의 변경
24  189,050,328      3.17          - 보유주식수 변동\n- 유가증권신탁(보유형태 변경 포함)
25  189,050,328      3.17            - 보유주식수 변동\n- 보유주식등에 관한 계약의 변경
26  159,221,145      2.67                    - 보유주식수 변동\n- 신탁 주식 처분
27  154,219,880      2.58            - 보유주식수 변동\n- 보유주식등에 관한 계약의 변경
28  141,061,717      2.36            - 보유주식수 변동\n- 보유주식등에 관한 계약의 변경
29  141,061,717      2.36            - 보유주식수 변동\n- 보유주식등에 관한 계약의 변경
30  146,308,857      2.45  - 특별관계자 및 보유주식수 변동\n- 유가증권신탁(보유형태 변경 포함)


<class 'pandas.core.frame.DataFrame'>
-------------------임원ㆍ주요주주 소유보고-------------------

,rcept_no,rcept_dt,corp_code,corp_name,report_tp,repror,stkqy,stkqy_irds,stkrt,stkrt_irds,ctr_stkqy,ctr_stkrt,report_resn
0,20220411003043,2022-04-11,00126380,삼성전자,약식,J.P.MORGANSECURITIESPLC,"14,858,917","14,858,917",0.22,0.22,-,-,신규보고의무 발생
1,20220422000748,2022-04-22,00126380,삼성전자,일반,삼성물산,"1,241,208,947","-102,516",20.79,-0.00,"99,832,587",1.67,- 보유주식수 변동\n- 보유주식등에 관한 계약의 변경
2,20220429001445,2022-04-29,00126380,삼성전자,일반,삼성물산,"1,241,202,321","-6,626",20.79,-0.00,"89,478,587",1.50,- 보유주식수 변동\n- 보유주식등에 관한 계약의 변경
3,20220506000547,2022-05-06,00126380,삼성전자,일반,삼성물산,"1,241,174,813","-27,508",20.79,-0.00,"98,413,587",1.65,- 보유주식수 변동\n- 보유주식등에 관한 계약의 변경
4,20220708000631,2022-07-08,00126380,삼성전자,일반,삼성물산,"1,241,131,025","-43,788",20.79,-0.00,"98,682,587",1.65,- 특별관계자 및 보유주식수 변동\n- 보유주식등에 관한 계약 관련 변경

In [7]:
# 주요사항보고서
# dart.event(corp, event, start = None, end = None)
with open('./ODR_type.json', 'r', encoding = 'utf-8') as f:
    event_list = json.load(f)

n = 0
for event in event_list :
    if n % 6 == 0 : print()
    print(event, end = "   ")
    n += 1

print()
print()
print("------------주요사항보고서(영업정지)------------")
Event = dart.event('052220', "자기주식처분", start = '1970-01-01', end = '2023-01-01')
print(type(Event))
Event.head()

사업보고서 형식   주요사항보고서 형식   증권신고서 형식

------------주요사항보고서(영업정지)------------
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
<class 'pandas.core.frame.DataFrame'>

Empty DataFrame
Columns: []
Index: []

In [8]:
#증권신고서
for r in reg_list :
    print(r, end = "   ")
print()
print()

reg = dart.regstate('사조대림', '합병')
print(type(reg))
reg.head()

주식의포괄적교환이전   합병   증권예탁증권   채무증권   지분증권
분할   <class 'pandas.core.frame.DataFrame'>

,rcept_no,corp_cls,corp_code,corp_name,rpt_rcpn,stn,bddd,ctrd,gmtsck_shddstd,ap_gmtsck,...,slprc,slta,kndn,cnt,cmpnm,sen,tast,cpt,isstk_knd,isstk_cnt
0,20190402002153,Y,00109718,사조대림,20190123000252,흡수합병,2019년 01월 18일,2019년 01월 18일,2019년 03월 07일,2019년 04월 29일,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,20190402002153,Y,00109718,사조대림,NaN,NaN,NaN,NaN,NaN,NaN,...,"23,743","76,070,007,756",기명식보통주,"3,203,892",NaN,NaN,NaN,NaN,NaN,NaN
0,20190402002153,Y,00109718,사조대림,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,주식회사 사조대림,존속회사,"720,876,000,000","29,822,000,000",보통주,"5,960,575"
1,20190402002153,Y,00109718,사조대림,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,주식회사 사조대림,존속회사,"720,876,000,000","29,822,000,000",우선주,"3,780"
2,20190402002153,Y,00109718,사조대림,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,주식회사 사조해표,소멸회사,"400,120,000,000","35,800,000,000",보통주,"7,160,000"

In [9]:
rcp_no = '20220308000798' # 삼성전자 2021년 사업보고서
samsung_report = dart.sub_docs(rcp_no)
print(type(samsung_report))
print()

for ix, row in samsung_report.iterrows():
    print(row['title'])
    print(row['url'])

            title                                                url
0       사 업 보 고 서  http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
1  【 대표이사 등의 확인 】  http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
2       I. 회사의 개요  http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
3       1. 회사의 개요  http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
4       2. 회사의 연혁  http://dart.fss.or.kr/report/viewer.do?rcpNo=2...

In [14]:
# 첨부 문서 제목과 URL
print("첨부 문서 제목과 URL")
for ix, row in dart.attach_docs(rcp_no).iterrows():
    print(row['title'])
    print(row['url'])

print()
print()

print("첨부 파일 제목과 URL")
files = dart.attach_files(rcp_no)
for title, url in files.items():
    print(title)
    print(url)
    # dart.download(url, title) << 첨부파일 모두 다운로드

첨부 문서 제목과 URL
2022.03.08 감사보고서
http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20220308000798&dcmNo=8446645
2022.03.08 감사의감사보고서
http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20220308000798&dcmNo=8446650
2022.03.08 내부감시장치에대한감사의의견서
http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20220308000798&dcmNo=8446652
2022.03.08 내부회계관리제도운영보고서
http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20220308000798&dcmNo=8446653
2022.03.08 연결감사보고서
http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20220308000798&dcmNo=8446646
2022.03.08 영업보고서
http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20220308000798&dcmNo=8446651
2022.03.08 정관
http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20220308000798&dcmNo=8446649


첨부 파일 제목과 URL
[삼성전자]사업보고서(2022.03.08).pdf
http://dart.fss.or.kr/pdf/download/pdf.do?rcp_no=20220308000798&dcm_no=8446647
[삼성전자]사업보고서_재무제표(2022.03.08)_ko.xls
http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20220308000798&dcm_no=8446647&lang=ko
[삼성전자]사업보고서_IFRS(원문XBRL)(2022.03.08).zip
http://dart.fss.or.kr/pdf/download/ifrs.do?rcp_no=20220308000798&dcm_no=8446647&lang=ko